    {if isset($chyba)}
    <div class="flash_message flash_warning">Zaměstnanci nebo organizační jednotce se nepodařilo předat spis. Zkuste to znovu.</div>
    {/if}

    <h2>Předat spis</h2>

    <div class="detail_blok">
        <form id="frm-predani" action="#" onsubmit="return false;">
            Poznámka k předání:<br/>
            <textarea id="frmpred-poznamka" name="poznamka_predani" rows="4" style="width:100%"></textarea>
        </form>
    </div>

    <div class="detail_blok">
        <div class="detail_hlavicka">Organizační jednotky</div>
        <br />
    {if count($org_seznam)>0}
    <table class="seznam">
        {foreach $org_seznam as $org}
        <tr>
            <td>
                <a href="{link :Spisovka:Uzivatel:spisvybrano, 'orgjednotka'=>$org->id, 'spis_id'=>$spis_id, 'novy'=>$novy }" onclick="osobaVybrana(this); return false;">
                   {$org->ciselna_rada}
               </a>&nbsp;&nbsp;
            </td>
            <td>
                {if !empty($org->plny_nazev)}{$org->plny_nazev}
                {else}{$org->zkraceny_nazev}
                {/if}
                &nbsp;
            </td>

        </tr>
        {/foreach}
    </table>
    {else}
    <div class="prazdno">Nebyly zjištěny žádné organizační jednotky.</div>
    {/if}
    </div>


    <div class="detail_blok">
        <div class="detail_hlavicka">Zaměstnanci</div>
        <br />
    {if count($seznam)>0}
    <table class="seznam">
        {foreach $seznam as $user}
        <tr>
            <td>
                <a href="{link :Spisovka:Uzivatel:spisvybrano, 'id'=>$user->id, 'user'=>$user->user_id, 'spis_id'=>$spis_id, 'novy'=>$novy }" onclick="osobaVybrana(this); return false;">
                   {=Osoba::displayName($user,'full_item')}
               </a>&nbsp;&nbsp;
            </td>
            <td>
                {if $user->pocet_uctu > 1}
                {$user->username}
                {/if}
                &nbsp;
            </td>

        </tr>
        {/foreach}
    </table>
    {else}
    <div class="prazdno">Nebyli zjištěni žádní zaměstnanci.</div>
    {/if}
    </div>

    <?php //Nette\Diagnostics\Debugger::dump($seznam); ?>