{if count($subjekty) > 0}
    {var povolit_zmeny = isset($AccessEdit) ? $AccessEdit : true}
    <table class="seznam">
        {foreach $subjekty as $subjekt}
            {include 'subjekt.latte', subjekt => $subjekt, rezim_subjektu => $subjekt->rezim_subjektu, akce_odebrat_zmenit => $povolit_zmeny}
        {/foreach}
    </table>
{else}
    <div class="prazdno">K tomuto dokumentu nejsou připojeni žádní odesílatelé nebo adresáti.</div>
{/if}
