    {control abc}
    
    {if count($seznam)>0}
    <table class="seznam">
        {foreach $seznam as $subjekt}
            {include 'subjekt.latte', subjekt => $subjekt,
             akce_adresat_odesilatel => $module == 'Spisovka'}
        {/foreach}
    </table>
    {control vp}
    {else}
    <div class="prazdno">Nebyly nalezeny žádné subjekty.</div>
    {/if}