/clients
/client/configs/_aktualizace
/client/configs/install
/client/configs/*.ini
/client/configs/*.neon
/client/configs/cert*
/client/files/*
/client/files/dokumenty/*
/client/files/epodatelna/*
/client/sessions/*
/client/temp/*
/log/*.log
/log/*.html
index.php