{block title}Nová složka{/block}
{block content}
    <div class="navigate">
    <a href="{link default}">Seznam spisů</a> -
    Nová složka
    </div>        

    <h2>Nová složka</h2>

    <div class="detail_blok">
        {control novaSlozkaForm}
    </div>