body {
    background: #f0f0f0 ;
}

/* ***************************************************************** */
/* *** TOP LAYOUT *** */
#layout_top {
    background: #D89B8F ;
}

#top {
    background: #CE533D ;
}

#top h1 {
    color: #681203;
}

#top h1 a {
    color: #681203;
}

#top_menu {
    color: #681203;
}

#top_menu a {
    color: #681203;
}

#top_menu a:hover {
    color: #FFC273;
}

#top_jmeno {
    color: #681203;
}

#top_jmeno a {
    color: #681203;
}

#top_jmeno a:hover {
    color: #FFC273;
}

/* ***************************************************************** */
/* *** CONTENT LAYOUT *** */
#layout {
    width: 980px;
    margin: 0 auto 0 auto;
    padding: 0px;
}

#menu {
    background: #681203 ;
    padding: 5px 10px;
}

#menu a {
    color: #FFC273;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    margin: 5px 9px 5px 10px;
    display: inline-block;
}

table.spisovka th,
table.seznam th {
    background-color: #681203;
    border-color: #681203;
}


table.ciselnik_seznam {
    border: 0px;
    margin: 20px;
}

table.ciselnik_seznam td {
    border: 0px;
}

table.ciselnik_seznam .icon {
    width: 42px;
}

table.ciselnik_seznam .meta {
    padding: 10px;
}

table.ciselnik_seznam .meta a {
    font-weight: bold;
    text-decoration: underline;
}

table.ciselnik_seznam .meta div {
    margin: 5px 0px;
}

.protokol {
    margin: 20px;
}
.protokol div {
    display: inline-block;
}
.protokol .link {
    font-weight: bold;
    margin-bottom: 5px;
}
.protokol .icon {
    margin-right: 15px;
}


/* ***************************************************************** */
/* *** USER SYNCH *** */

#synch_table {
    border-collapse: collapse;
}

.synch_input {
    /*border: 0px;*/
}


#bulk-action {
    position: relative;
    padding: 10px 10px;
    margin: 0px; margin-bottom: 10px;
    background-color: #681203;
    color: #ffffff;
}


/* ***************************************************************** */
/* *** BOTTOM LAYOUT *** */
#layout_bottom {
    margin: 0px;
    padding: 0px;
}

#bottom {
    width: 970px;
    margin: 0 auto 0 auto;
    padding: 5px 5px 5px 5px;
    text-align: right;
    color: #681203;
    font-size: 8pt;
    background: #CE533D ;
}

#bottom a {
    color: #681203;
    text-decoration: none;
}

#bottom a:hover {
    color: #FFC273;
    text-decoration: underline;
}

table.disk-usage td {
    padding-right: 20px;
}

.align-right {
    text-align: right;
}