body {
    background: #f0f0f0 ;
}

/* ***************************************************************** */
/* *** TOP LAYOUT *** */
#layout_top {
    background: #D89B8F ;
}

#top {
    background: #CE533D ;
}

#top h1 {
    color: #681203;
}

#top h1 a {
    color: #681203;
}

#top_menu {
    color: #681203;
}

#top_menu a {
    color: #681203;
}

#top_menu a:hover {
    color: #FFC273;
}

#top_jmeno {
    color: #681203;
}

#top_jmeno a {
    color: #681203;
}

#top_jmeno a:hover {
    color: #FFC273;
}

/* ***************************************************************** */
/* *** CONTENT LAYOUT *** */
#layout {
    width: 980px;
    margin: 0 auto 0 auto;
    padding: 0px;
}

#menu {
    background: #681203 ;
    padding: 10px 10px;
}

#menu a {
    color: #FFC273;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    margin: 0px 10px;
}

#content {
    background: #ffffff ;
    min-height: 500px;
}

#dialog table th,
#content table th {
    background-color: #681203;
    padding: 5px 5px;
    text-align: left;
    color: #ffffff;
    border: 1px #681203 solid;
}


#content table.ciselnik_seznam {
    border: 0px;
    margin: 20px;
}

#content table.ciselnik_seznam td {
    border: 0px;
}

#content table.ciselnik_seznam .icon {
    width: 42px;
}

#content table.ciselnik_seznam .meta {
    padding: 10px;
}

#content table.ciselnik_seznam .meta a {
    font-weight: bold;
    text-decoration: underline;
}

#content table.ciselnik_seznam .meta div {
    margin: 5px 0px;
}


/* ***************************************************************** */
/* *** USER SYNCH *** */

#synch_table {
    border-collapse: collapse;
}

.synch_input {
    /*border: 0px;*/
}


#hromadna_akce {
    position: relative;
    padding: 10px 10px;
    margin: 0px; margin-bottom: 10px;
    background-color: #681203;
    color: #ffffff;
}


/* ***************************************************************** */
/* *** BOTTOM LAYOUT *** */
#layout_bottom {
    margin: 0px;
    padding: 0px;
}

#bottom {
    width: 970px;
    margin: 0 auto 0 auto;
    padding: 5px 5px 5px 5px;
    text-align: right;
    color: #681203;
    font-size: 8pt;
    background: #CE533D ;
}

#bottom a {
    color: #681203;
    text-decoration: none;
}

#bottom a:hover {
    color: #FFC273;
    text-decoration: underline;
}

/* ***************************************************************** */
/* *** DEBUG LAYOUT *** */

#debug {
    width: 970px;
    margin: 0 auto 0 auto;
    padding: 5px 5px 5px 5px;
    color: #FFC273;
    font-size: 10pt;
    background: #681203 ;
}

#debug_head {
    color: #ffffff;
}

#debug_head strong {
    color: #FFC273;
}

#debug_info {
    float:left;
    margin-right: 10px;
}
#debug_route {
    float:left;
    margin-right: 10px;
}
#debug_time {
    float:left;
    margin-right: 10px;
}
#debug_memory {
    float:left;
    margin-right: 10px;
}
#debug_sql {
    float:left;
    margin-right: 10px;
}

#debug_body {
    background-color: #681203;
}

#debug_body_info {
    white-space: pre;
    font-family: monospace;
    background-color: #ffffff;
    color: #000000;
    margin: 10px; padding: 10px;
}

#debug_body_route {
    white-space: pre;
    font-family: monospace;
    background-color: #ffffff;
    color: #000000;
    margin: 10px; padding: 10px;
}

#debug_body_sql {
    background-color: #ffffff;
    color: #000000;
    margin: 10px; padding: 10px;
}

.debug_body_sql_item {
    padding: 10px;
    border-bottom: 1px #c0c0c0 solid;
}
