body {
    background: #f0f0f0 ;
}

/* ***************************************************************** */
/* *** TOP LAYOUT *** */
#layout_top {
    background: #D8C38F ;
}

#top {
    background: #CEA33D ;
}

#top h1 {
    color: #684A03;
}

#top h1 a {
    color: #684A03;
}

#top_menu {
    color: #684A03;
}

#top_menu a {
    color: #684A03;
}

#top_menu a:hover {
    color: #FFC273;
}

#top_jmeno {
    color: #684A03;
}

#top_jmeno a {
    color: #684A03;
}

#top_jmeno a:hover {
    color: #FFC273;
}

/* ***************************************************************** */
/* *** CONTENT LAYOUT *** */
#layout {
    width: 980px;
    margin: 0 auto 0 auto;
    padding: 0px;
}

#menu {
    background: #684A03 ;
    padding: 10px 10px;
}

#menu a {
    color: #FFC273;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    margin: 0px 10px;
}

#content {
    background: #ffffff ;
    min-height: 500px;
}

#dialog table th,
#content table th {
    background-color: #684A03;
    padding: 5px 5px;
    text-align: left;
    color: #ffffff;
    border: 1px #684A03 solid;
}

#dokument_blok_hlavni {
    border: 1px #CEA33D solid;
    background: #D8C38F ;
}

#dokument_blok_poznamka {
    border: 1px #f0f0f0 solid;
    background: #f0f0f0 ;
}

#dokument_blok_poznamka .h2 {
    border-bottom: 1px #e0e0e0 solid;
}

#dokument_blok_subjekty .h2 {
    border-bottom: 1px #e0e0e0 solid;
}


#dokument_blok_prilohy {
    background: #f0f0f0 ;
}
#dokument_blok_prilohy .h2 {
    border-bottom: 1px #e0e0e0 solid;
}

#dokument_blok_akce {
    border: 1px #e0e0e0 solid;
    background: #8FBAD9 ;
}

#dokument_blok_volby {
    background: #f0f0f0 ;
}

#dokument_blok_volby a {
    color: #000088;
}

#dokument_blok_volby a:hover {
    color: #ff0000;
}

/* ***************************************************************** */
/* *** BOTTOM LAYOUT *** */
#layout_bottom {
    margin: 0px;
    padding: 0px;
}

#bottom {
    width: 970px;
    margin: 0 auto 0 auto;
    padding: 5px 5px 5px 5px;
    text-align: right;
    color: #684A03;
    font-size: 8pt;
    background: #CEA33D ;
}

#bottom a {
    color: #684A03;
    text-decoration: none;
}

#bottom a:hover {
    color: #FFC273;
    text-decoration: underline;
}

/* ***************************************************************** */
/* *** HROMADNA EVIDENCE *** */

#zkontrolovat_status {
    margin-bottom: 5px;
    padding: 15px 50px;
    text-align: left;
    color: #666600;
    border: 1px #666600 solid;
    background: #ffffcc ;
}

#h_evidence {

}

#h_evidence .evidence_item {
    margin: 3px 0px;
    border: 1px #e0e0e0 solid;
}

#h_evidence .evidence_item_header {
    border: 1px #CEA33D solid;
    background: #D8C38F ;
    padding: 5px;
}

#h_evidence .evidence_item_header img {
    float: left;
    margin-right: 5px;
}

#h_evidence .evidence_item_cas {
    float: left;
    text-align: right;
    width: 60px;
    margin-right: 10px;
}

#h_evidence .evidence_info {
}

#h_evidence .evidence_info span {
    display: block;
    font-weight: bold;
    text-decoration: underline;
}

#h_evidence .evidence_volba {
    float: left;
    position: relative;
    width: 170px;
    margin-left: 5px;
}

#h_evidence .evidence_form {
    margin-left: 250px;
    margin-top: 10px;
}

#h_evidence .evidence_form span {
    font-weight: bold;
    text-decoration: underline;
}

#h_evidence .evidence_zprava_toogle {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

#h_evidence .evidence_zprava{
    padding: 10px 0px;
    white-space: pre-line;
}

#h_evidence .evidence_report {
    padding: 15px;
}

.ui-button { margin-left: -1px; }
.ui-button-icon-only .ui-button-text { padding: 0.35em; }
.ui-autocomplete-input { margin: 0; padding: 0.48em 0 0.47em 0.45em; }

/* ***************************************************************** */
/* *** DEBUG LAYOUT *** */

#debug {
    width: 970px;
    margin: 0 auto 0 auto;
    padding: 5px 5px 5px 5px;
    color: #FFC273;
    font-size: 10pt;
    background: #684A03 ;
}

#debug_head {
    color: #ffffff;
}

#debug_head strong {
    color: #FFC273;
}

#debug_info {
    float:left;
    margin-right: 10px;
}
#debug_route {
    float:left;
    margin-right: 10px;
}
#debug_time {
    float:left;
    margin-right: 10px;
}
#debug_memory {
    float:left;
    margin-right: 10px;
}
#debug_sql {
    float:left;
    margin-right: 10px;
}

#debug_body {
    background-color: #684A03;
}

#debug_body_info {
    white-space: pre;
    font-family: monospace;
    background-color: #ffffff;
    color: #000000;
    margin: 10px; padding: 10px;
}

#debug_body_route {
    white-space: pre;
    font-family: monospace;
    background-color: #ffffff;
    color: #000000;
    margin: 10px; padding: 10px;
}

#debug_body_sql {
    background-color: #ffffff;
    color: #000000;
    margin: 10px; padding: 10px;
}

.debug_body_sql_item {
    padding: 10px;
    border-bottom: 1px #c0c0c0 solid;
}

