body {
    background: #f0f0f0 ;
}

/* ***************************************************************** */
/* *** TOP LAYOUT *** */
#layout_top {
    background: #D8C38F ;
}

#top {
    background: #CEA33D ;
}

#top h1 {
    color: #684A03;
}

#top h1 a {
    color: #684A03;
}

#top_menu {
    color: #684A03;
}

#top_menu a {
    color: #684A03;
}

#top_menu a:hover {
    color: #FFC273;
}

#top_jmeno {
    color: #684A03;
}

#top_jmeno a {
    color: #684A03;
}

#top_jmeno a:hover {
    color: #FFC273;
}

/* ***************************************************************** */
/* *** CONTENT LAYOUT *** */
#layout {
    width: 980px;
    margin: 0 auto 0 auto;
    padding: 0px;
}

#menu {
    background: #684A03 ;
    padding: 10px 10px;
}

#menu a {
    color: #FFC273;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    margin: 0px 10px;
}

#content {
    background: #ffffff ;
    min-height: 500px;
}

#dialog table th,
#content table th {
    background-color: #684A03;
    padding: 5px 5px;
    text-align: left;
    color: #ffffff;
    border: 1px #684A03 solid;
}

.dokument_blok_hlavni {
    border: 1px #CEA33D solid;
    background: #D8C38F ;
}


/* ***************************************************************** */
/* *** BOTTOM LAYOUT *** */
#layout_bottom {
    margin: 0px;
    padding: 0px;
}

#bottom {
    width: 970px;
    margin: 0 auto 0 auto;
    padding: 5px 5px 5px 5px;
    text-align: right;
    color: #684A03;
    font-size: 8pt;
    background: #CEA33D ;
}

#bottom a {
    color: #684A03;
    text-decoration: none;
}

#bottom a:hover {
    color: #FFC273;
    text-decoration: underline;
}

/* ***************************************************************** */
/* *** HROMADNA EVIDENCE *** */

#zkontrolovat_status {
    margin-bottom: 5px;
    padding: 15px 50px;
    text-align: left;
    color: #666600;
    border: 1px #666600 solid;
    background: #ffffcc ;
}

#h_evidence {

}

#h_evidence .evidence_item {
    margin: 3px 0px;
    border: 1px #e0e0e0 solid;
}

#h_evidence .evidence_item_header {
    border: 1px #CEA33D solid;
    background: #D8C38F ;
    padding: 5px;
}

#h_evidence .evidence_item_header img {
    float: left;
    margin-right: 5px;
}

#h_evidence .evidence_item_cas {
    float: left;
    text-align: right;
    width: 60px;
    margin-right: 10px;
}

#h_evidence .evidence_info {
}

#h_evidence .evidence_info span {
    display: block;
    font-weight: bold;
    text-decoration: underline;
}

#h_evidence .evidence_volba {
    float: left;
    position: relative;
    width: 170px;
    margin-left: 5px;
}

#h_evidence .evidence_form {
    margin-left: 230px;
    margin-top: 10px;
}

#h_evidence .evidence_form span {
    font-weight: bold;
    text-decoration: underline;
}

#h_evidence .evidence_zprava_toogle {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

#h_evidence .evidence_zprava{
    padding: 10px 0px;
    white-space: pre-line;
}

#h_evidence .evidence_report {
    padding: 15px;
}

#h_evidence dt {
    width: 160px;
}

#h_evidence textarea {
    width: 500px;
}