.help-contents {
    padding: 15px 50px;
}

.help_content {
    background: #ffffff ;
    min-height: 500px;
    padding: 15px 50px;
    margin: 0px;
    font-size: 9pt;
}

.help_content br {
    display: none;
}
.help_content p br, .help_content dl br {
    display: block;
}

.help_content p {
    text-align: justify;
}

.help_content h2 {
    /*margin: 20px 0px;*/
}

.help_content h2.seznam {
    border-top: 1px dotted;
    margin: 40px 20px 20px 20px;
    padding-top: 10px;
}


.help_content h3 {
    /*margin: 0px 20px 20px 40px;*/
}

.help_content ul {
    margin: 0px 20px 20px 60px;
}

.help_content dl {
    margin: 10px 40px;
}

.help_content dt {
    font-weight: bold;
    display: block;
    margin: 8px 0px 5px 0px;
    width: auto;
    text-align: left;
}

.help_content dd {
    margin: 5px 0px 8px 30px;
    display: block;
    font-weight: normal;
}
