body {
    background: #ffffff url() repeat-x;
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-family: "Times New Roman", serif;
    font-size: 9pt;
}

h1 {
    text-align: left;
    font-size: 11pt;
    font-weight: normal;
}

p {
    margin-top: 0px;
    border: 0px solid;
}

img {
    /*position: absolute;
    top: 0px;
    left: 0px;*/
}

table.header {
    border-collapse: collapse;
    width: 100%;
    border: 0px solid;
    margin-bottom: 0px;
}

table.header td {
    border: 0px;
    text-align: left;
    height: 40px;
}

div.placeno {
    text-align: right;
    padding: 2px 10px;
}

div.pod {
    position: relative;
}

ol.poznamky {
    margin-top: 20px;
    color: #c0c0c0;
}


div.posta {
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: left;
    padding: 2px 10px;
}

div.razitko {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: right;
    padding: 2px 50px 2px 10px;
}


table {
    border-collapse: collapse;
    width: 100%;
    border: 3px solid;
}

td {
    border: 1px solid;
    padding: 5px;
    height: 70px;
}
th {
    border: 1px solid;
    border-bottom: 3px solid;
}

.h1 { width: 240px; }
.h2 { width: 255px; }
.w1 { width: 40px; }
.w2 { width: 200px; border-right: 3px solid; }
.w3 { width: 175px; }
.h4 { width: 70px; }
.h5 { width: 70px; }
.w4 { width: 70px; text-align: right; }
.w5 { width: 70px; text-align: right; }
.w6 { width: 100px; }

