body {
    background: #ffffff ;
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-family: "DejaVuSerifCondensed";
    font-size: 9pt;
}

h1 {
    text-align: left;
    font-size: 16pt;
    font-weight: bold;
}

p {
    margin-top: 0px;
    margin-bottom: 2px;
    border: 0px solid;
}

img {
    /*position: absolute;
    top: 0px;
    left: 0px;*/
}

table.header {
    border-collapse: collapse;
    width: 100%;
    border: 0px solid;
    margin-bottom: 0px;
}

table.footer {
    border: 0px solid;
}

table.header td {
    border: 0px;
    text-align: left;
    height: 40px;
    padding-left: 0px;
}

table.footer  td {
    border: 0px solid;
}

div.placeno {
    padding: 2px 0px;
}

div.pod {
    position: relative;
}

ol.poznamky {
    margin-top: 11mm;
    /* color: #c0c0c0; */
    font-size: 8pt;
}


div.posta {
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: left;
    padding: 2px 10px;
}

div.razitko {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: right;
    padding: 2px 50px 2px 10px;
}


table {
    border-collapse: collapse;
    width: 100%;
    border: 3px solid;
}

td {
    border: 1px solid;
    padding: 5px;
}
th {
    border: 1px solid;
    border-bottom: 3px solid;
}

/* styly pro prvky TD */
.d1 { width: 146px; }
.d2 { width: 50%; padding-right: 15mm; font-size: 7pt; }
.w1 { width: 12.5mm; }
.w2 { width: 59mm; border-right: 3px solid; }
.w3 { width: 50mm; }
.w4 { width: 70px; }
.w5 { width: 70px; }
.height { height: 21mm; }

.right { text-align: right; }

.cislo_karty {
    font-size: 14px;
    font-weight: bold;
}

div.spacer{
    height: 8px;
}

#zpusob_uhrady{
    font-weight: bold;
}