body {
    background: #ffffff ;
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
}

#top {
    background-color: #ffffff;
    padding: 10px 5px;
    text-align: left;
    color: #000000;
    font-size: 13pt;
    font-weight: bold;
}

#top .nazev {
    float: left;
}

#top .urad {
    float: right;
}


table {
    border-collapse: collapse;
    border: 1px #e0e0e0 solid;
    width: 100%;
}

th {
    background-color: #808080;
    padding: 5px 5px;
    text-align: left;
    color: #ffffff;
    border: 1px #808080 solid;
    vertical-align: top;
}

td {
    padding: 5px 5px;
    border: 1px #e0e0e0 solid;
    vertical-align: top;
}

#table_top {
    padding: 10px 5px;
    text-align: left;
    color: #000000;
    font-size: 13pt;
    font-weight: bold;
    border: 0px;
    border-collapse: collapse;
    
}
#table_top th {
    border: 0px;
}
#table_top td {
    border: 0px;
}

#layout_top { display:none; }
#menu { display:none; }
#flash { display:none; }
#filtr { display:none; }
#search { display:none; }
#seradit { display:none; }
#tisk { display:none; }
#hromadna_akce { display:none; }
.dokument_blok_menu { display: none; }
#layout_bottom { display:none; }
#upozorneni_na_nove_zpravy{ display:none; }
.paginator { display: none; }
.checkbox { display: none; }
td.akce { display: none; }
th.akce { display: none; }
td.typ { width: 10px; }
th.typ { width: 10px; }
td.cislo_jednaci { text-align: right; }
th.cislo_jednaci { text-align: right; }

@media print {
   thead { display: table-header-group; }
}
