body {
    background: #ffffff ;
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
}

/* Polozky */
#content .prazdno {
    text-align: center;
    padding: 30px;
}

#content .detail_blok {
    padding: 20px;
    border-top: 1px dotted #c0c0c0;
}

#content .detail_hlavicka {
    font-weight: bold;
    font-size: 11pt;
}

#content .detail_subhlavicka {
    font-weight: bold;
    margin-left: 40px;
}

#content .detail_item {
}

#content dl {
    clear: both;
    margin: 5px;
}

#content dt {
    float: left;
    width: 200px;
    text-align: right;
    /*padding-right: 20px;*/
    margin-right: 20px;
}

#content dd {
    margin-left: 220px;
    font-weight: bold;
}

#content dd.normal {
    margin-left: 220px;
    font-weight: normal;
}

.dokument_blok2 {
    position: relative;
    border: 1px #f0f0f0 solid;
    padding: 5px; margin-bottom: 10px;
    background: #f0f0f0 ;
}

.dokument_blok2 .h2 {
    margin: 0px; padding: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: 1px #e0e0e0 solid;
}

.dokument_blok2 p {
    padding: 5px 20px;
}

.dokument_blok2 pre {
    padding: 5px 20px 0px 20px;
    overflow: auto;
}


.dokument_blok3 {
    position: relative;
    border: 1px #e0e0e0 solid;
    padding: 5px; margin-bottom: 10px;
    background: #8FBAD9 ;
}

.dokument_blok3 .h2 {
    margin: 0px; padding: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: 1px #03406A solid;
}


.dokument_blok_hlavni {
    position: relative;
    border: 1px #e0e0e0 solid;
    padding: 5px; margin-bottom: 10px;
    background: #8FBAD9 ;
}

.dokument_blok_hlavni .nadpis {
    text-decoration: underline;
    font-size: 12pt;
}

.dokument_blok_hlavni .h2 {
    margin: 0px; padding: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: 1px #03406A solid;
}

.dokument_blok_poznamka {
    position: relative;
    border: 1px #f0f0f0 solid;
    padding: 5px; margin-bottom: 10px;
    background: #f0f0f0 ;
}

.dokument_blok_poznamka .h2 {
    margin: 0px; padding: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: 1px #e0e0e0 solid;
}

.dokument_blok_poznamka p {
    padding: 5px 20px;
}

.dokument_blok_poznamka pre {
    padding: 5px 20px 0px 20px;
    overflow: auto;
}

.dokument_blok_subjekty {
    position: relative;
    padding: 5px; margin-bottom: 10px;
}
.dokument_blok_subjekty .h2 {
    margin: 0px; padding: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: 1px #e0e0e0 solid;
}


.dokument_blok_submit {
    border: 1px #e0e0e0 solid;
    padding: 15px; margin-bottom: 0px;
    background: #8FBAD9 ;
}

.dokument_blok_menu {
    position: relative;
    padding: 10px 10px;
    margin: 0px; margin-bottom: 10px;
    background: #f0f0f0 ;
}

.dokument_blok_menu a {
    color: #000088;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    margin: 0px 10px;
}

.dokument_blok_menu a:hover {
    color: #ff0000;
    text-decoration: underline;
}

#dialog .seznam,
#content .seznam {
    border-collapse: collapse;
    border: 0px;
    width: 100%;
}

#content .seznam tr {
}

#content .seznam td {
    vertical-align: top;
    border: 0px;
    border-bottom: 1px #e0e0e0 solid;
}

#content .seznam td.icon {
    text-align: center;
    width: 38px;
}

#content .seznam td.icon-view {
    text-align: right;
    width: 150px;
}

#content .seznam td.icon-view a {
    border: 0px;
    text-decoration: none;
}

#content .seznam td.meta {
    
}

#content .seznam td.meta a {
    font-weight: bold;
}

#content .seznam td.meta div.info {
    font-size: 8pt;
}

#content .seznam td.meta span {
    color: #808080;
}

#content .seznam td.meta div.popis {
    padding: 2px 5px;
}

#content .seznam td.meta .vyber {
    font-size: 8pt;
    padding-top: 10px;
}

#content .seznam td.meta .vyber a {
    font-size: 8pt;
    color: #000088;
}

#content .seznam td.meta .vyber a:hover {
    font-size: 8pt;
    color: #ff0000;
}

#content .seznam td.meta_plus {
    text-align: left;
    width: 50%;
}

#content .seznam td.meta_plus div.info {
    font-size: 8pt;
}

#content .seznam td.meta_plus span {
    color: #808080;
}

#content .seznam td.meta_plus div.popis {
    padding: 2px 5px;
}

#content .seznam td.meta_plus dl {
    clear: both;
    margin: 0px; padding: 0px;
}

#content .seznam td.meta_plus dt {
    float: left;
    width: 40px;
    text-align: right;
    /*padding-right: 20px;*/
    color: #808080;
    margin: 0px; padding: 0px;
    margin-right: 5px;
}

#content .seznam td.meta_plus dd {
    margin: 0px; padding: 0px;
    margin-left: 45px;
    font-weight: normal;
}


#content .seznam td.user {
    border: 0px;
    border-bottom: 1px #e0e0e0 solid;
    text-align: right;
    width: 120px;
}


#layout_top { display:none; }
#menu { display:none; }
#flash { display:none; }
#filtr { display:none; }
#search { display:none; }
#seradit { display:none; }
#tisk { display:none; }
#hromadna_akce { display:none; }
.dokument_blok_menu { display: none; }
#layout_bottom { display:none; }
.paginator { display: none; }
.checkbox { display: none; }
td.akce { display: none; }
th.akce { display: none; }
td.typ { width: 10px; }
th.typ { width: 10px; }
td.cislo_jednaci { text-align: right; }
th.cislo_jednaci { text-align: right; }