body {
    background: white ;
}

/* Pokud by uzivatel chtel, muze si obarvit zahlavi tabulky jinak

table.spisovka th, table.seznam th {
    background-color: gray;
} */

#layout_top { display: none; }
#menu { display: none; }
#flash { display: none; }
div.navigate { display: none; }
#filtr { display: none; }
#search { display: none; }
#seradit { display: none; }
#tisk { display: none; }
#bulk-action { display: none; }
.dokument_blok_menu { display: none; }
#layout_bottom { display: none; }
#upozorneni_na_nove_zpravy{ display: none; }
.paginator { display: none; }
.checkbox { display: none; }
td.akce { display: none; }
th.akce { display: none; }

@media print {
   thead { display: table-header-group; }
}

.dokument_blok_hlavni {
    background: #A8DBFF ;
}
