body {
    background: #f0f0f0 ;
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
}

img {
    border: 0px;
}

.small {
    font-size: 8pt;
    margin-top: 3px; margin-bottom: 3px;
}
.mezera {
    margin-top: 3px; margin-bottom: 7px;
}

.clear {
    clear: both;
}

form {
    margin: 0px;
}

/* ***************************************************************** */
/* *** TOP LAYOUT *** */
#layout_top {
    background: #8FBAD9 ;
    margin: 0px;
    padding-top: 20px;
}

#top {
    width: 980px;
    margin: 0 auto 0 auto;
    padding: 0px;
    /*height: 120px;*/
    position: relative;
    background: #3E94D1 ;
}

#top h1 {
    color: #03406A;
    font-size: 25px;
    padding: 20px 20px 5px 20px;
    margin: 0px;
}

#top h1 a {
    color: #03406A;
    text-decoration: none;
}

#top_urad {
    display: block;
    font-size: 15px;
    margin-top: 5px;
}

#top_menu {
    color: #03406A;
    text-align: right;
    padding-right: 20px;
    position: absolute;
    top: 20px;
    right: 0px;
}

#top_menu a {
    color: #03406A;
    font-weight: bold;
    font-size: 10pt;
    text-decoration: none;
    margin-left: 6px;
}

#top_menu a:hover {
    color: #FFC273;
    font-weight: bold;
    text-decoration: underline;
}

#top_jmeno {
    color: #03406A;
    text-align: right;
    padding-right: 20px;
    padding-bottom: 10px;
}

#top_jmeno a {
    color: #03406A;
    font-weight: bold;
    font-size: 10pt;
    text-decoration: none;
}

#top_jmeno a:hover {
    color: #FFC273;
    font-weight: bold;
    text-decoration: underline;
}

/* ***************************************************************** */
/* *** CONTENT LAYOUT *** */
#layout {
    width: 980px;
    margin: 0 auto 0 auto;
    padding: 0px;
}

#menu {
    background: #03406A ;
    padding: 10px 10px;
    color: #DDDDDD;
    font-weight: bold;
}

#menu a {
    color: #FFC273;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    margin: 0px 10px;
}

#menu strong {
    color: #00cc00;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    margin: 0px 10px;
}

#menu span {
    color: #dddddd;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    margin: 0px 10px;
}

#dialog {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    overflow: auto;
    position: relative;
}

#content {
    position: relative;
    background: #ffffff ;
    min-height: 500px;
    padding: 10px;
    margin: 0px;
}

#table_top {
    font-size: 13px;
    font-weight: bold;
    width: 100%;
}

h2 {
    margin: 0px 0px 20px 0px;
}

#content .navigate {
    margin: 0px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #c0c0c0;
}

.blok_menu {
    margin: 15px 0px 20px;
}
.blok_menu a {
    margin-right: 10px;
}

.blok_akce {
    padding: 0px 0px 10px 10px;
}

.ikona_ano {
    background: url('../images/icons/status_ano.png') no-repeat right;
}
.ikona_ne {
    background: url('../images/icons/status_ne.png') no-repeat right;
}
.ikona_nejiste {
    background: url('../images/icons/status_nejiste.png') no-repeat right;
}


/* Tabulka */

table {
    border-collapse: collapse;
}

table.spisovka {
    width: 100%;
    border: 1px #e0e0e0 solid;
}
table.seznam {
    width: 100%;
    border: 0px;
}

table.spisovka th,
table.seznam th {
    padding: 5px 5px;
    background-color: #03406A;
    color: #ffffff;
    text-align: left;  /* fix pro M$ IE */
    vertical-align: top;
}

table.spisovka td {
    padding: 5px 5px;
    border: 1px #e0e0e0 solid;
}
table.seznam td {
    padding: 5px 5px;
    vertical-align: top;
    border-bottom: 1px #e0e0e0 solid;
}


/* Polozky */
.prazdno {
    text-align: center;
    padding: 30px;
}

.detail_blok {
    padding: 20px;
    border-top: 1px dotted #c0c0c0;
}

.detail_hlavicka {
    font-weight: bold;
    font-size: 11pt;
    margin-bottom: 10px;
}

dl {
    margin: 0px 0px;
}
dt {
    width: 200px;
    text-align: right;
    margin: 0px 20px 8px 0px;
    display: inline-block;
    vertical-align: top;
}
dd {
    font-weight: bold;
    display: inline-block;
    margin: 0px 0px 8px 0px;
    max-width: 680px;
}
dd label {
    /* Mělo by to být správně "initial", ale to nepodporuje Internet Explorer */
    font-weight: normal;    
}

#dialog dt {
    width: 120px;
}
#form_novy_subjekt2 dt {
    width: 200px;
}

dt.dt_dialog {
    float: left;
    width: 200px;
    text-align: right;
    margin-right: 20px;
}


.normal-font {
    font-weight: normal;
}


/* Nastaveni opravneni v administraci */
.resource {
    font-weight: bold;
    margin: 7px 0px 7px 40px;
}
.privilege {
    padding-bottom: 5px;
    border-bottom: 1px #c0c0c0 dashed;
    margin: 5px 0px 8px 200px;
}
.privilege-icon {
    width: 16px;
    display: inline-block;
    margin-right: 15px;
    vertical-align: top;
}
.privilege-checkboxes {
    float: right;
}

.required dt label, label.required {
    color: #080808;
    font-weight: bold;
    text-decoration: underline;
}

/* chyba validace prvku ve formulari */
span.error {
    color: red;
}

/* ***************************************************************** */
/* *** DOKUMENTY *** */

/* Bohužel prvek #dokumenty se používá i pro seznam zpráv v e-podatelně, spisy,
   výpravnu a zápůjčky...
   Chtělo by to předělat a vytvořit styl přímo pro tabulku */

#dokumenty table a,
table.zapujcky a {
    color: #000088;
}
#dokumenty table a:hover,
table.zapujcky a:hover {
    color: #ff0000;
}

#dokumenty table th,
table.zapujcky th {
    font-size: 7pt;
}

#dokumenty .akce {
    width: 12px;
}
#dokumenty .typ {
    width: 45px;
}
#dokumenty .prijato {
    width: 70px;
    text-align: right;
}
#dokumenty .cislo_jednaci,
table.zapujcky .cislo_jednaci {
    width: 160px;
    text-align: right;
}
#dokumenty .vec {
    /* Automaticky vypočítaná šířka */
}
#dokumenty .prideleno {
    width: 150px;
}
#dokumenty .stav {
    width: 100px;
    text-align: right;
}

#dokumenty .red {
    background-color: #ffd4d4;
}

#dokumenty .yellow {
    background-color: #ffffcc;
}

#dokumenty .stav_red {
    background: #ffd4d4 url('../images/icons/warning.png') no-repeat left center;
}

#dokumenty .stav_yellow {
    background: #ffffcc url('../images/icons/warning.png') no-repeat left center;
}

table.zapujcky .datum {
    width: 60px;
}
table.zapujcky .prideleno {
    width: 105px;
}
table.zapujcky .stav {
    width: 65px;
    text-align: right;
}

table.vypravna .datum {
    width: 60px;
}
table.vypravna .predal {
    width: 150px;
}
table.vypravna .druh-zasilky {
    width: 150px;
}

table.hledani-dokumentu .cislo-jednaci {
    min-width: 160px;
}
table.hledani-dokumentu .jid {
    min-width: 140px;
}

/* ***************************************************************** */
/* *** DOKUMENT DETAIL *** */

/* dokument_blok_subjekty jsou bez výplně pozadí - tedy pozadí bude bílé */

.dokument_blok_hlavni, .dokument_blok_sedy, .dokument_blok_subjekty {
    padding: 5px; margin-bottom: 10px;
}

.dokument_blok_hlavni {
    border: 1px #e0e0e0 solid;
    background: #8FBAD9 ;
}

.dokument_blok_sedy {
    background: #f0f0f0 ;
}

.dokument_blok_hlavni .h2, .dokument_blok_sedy .h2, .dokument_blok_subjekty .h2 {
    margin: 0px; padding: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: 1px #e0e0e0 solid;
}

.dokument_blok_hlavni .h2 {
    border-bottom: 1px #03406A solid;
}

.dokument_blok_hlavni .velke_pismo {
    text-decoration: underline;
    font-size: 12pt;
}

.dokument_blok_sedy p {
    padding: 5px 20px;
}

.dokument_blok_sedy pre {
    padding: 5px 20px 0px 20px;
    overflow: auto;
}

/* ***************************************************************** */

.dokument_blok_submit {
    border: 1px #e0e0e0 solid;
    padding: 15px; margin-bottom: 0px;
    background: #8FBAD9 ;
}

.dokument_blok_menu {
    padding: 10px 10px;
    margin: 0px; margin-bottom: 10px;
    background: #f0f0f0 ;
}

.dokument_blok_menu a {
    color: #000088;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    margin: 0px 10px;
}

.dokument_blok_menu a:hover {
    color: #ff0000;
    text-decoration: underline;
}

#bulk-action {
    padding: 10px 10px;
    margin: 0px; margin-bottom: 10px;
    background-color: #03406A;
    color: #ffffff;
}
a#bulk-select-all, a#bulk-select-none {
    color: #FFC273;
}

#dok_spojit a,
#dok-spis-nazev, #dok-spis-vyjmout {
    margin-right: 7px;
}

/* ***************************************************************** */
/* *** BOTTOM LAYOUT *** */
#layout_bottom {
    margin: 0px;
    padding: 0px;
}

#bottom {
    width: 970px;
    margin: 0 auto 0 auto;
    padding: 5px 5px 5px 5px;
    text-align: right;
    color: #03406A;
    font-size: 8pt;
    background: #3E94D1 ;
}

#bottom a {
    color: #03406A;
    text-decoration: none;
}

#bottom a:hover {
    color: #FFC273;
    text-decoration: underline;
}

/* ***************************************************************** */
/* *** FLASH LAYOUT *** */

#flash {
    width: 960px;
    margin: 0 auto 0 auto;
    padding: 10px;
    text-align: center;
    background: #ffffff ;
}

#info_flash {
    width: 960px;
    margin: 0 auto 0 auto;
    padding: 10px;
    text-align: center;
    background: #ffffff ;
}

.flash_message {
    margin-bottom: 5px;
    padding: 15px 50px;
    text-align: left;
    color: #666600;
    border: 1px #666600 solid;
    background: #ffffcc ;
}

.flash_info, .flash_info_ext {
    color: #666600;
    border: 1px #666600 solid;
    background: #ffffcc url('../images/icons/dialog-information.png') 10px 5px no-repeat;
}

.flash_notice, .flash_notice_ext {
    color: #666600;
    border: 1px #666600 solid;
    background: #ffffcc url('../images/icons/dialog-warning.png') 10px 5px no-repeat;
}

/* Aplikace zcela nekonzistentně používá warning a error, že lepší pokaždé použít
   stejný vzhled */
.flash_warning, .flash_warning_ext, .flash_error, .flash_error_ext {
    color: #681203;
    border: 1px #681203 solid;
    background: #ffcccc url('../images/icons/dialog-warning.png') 10px 5px no-repeat;
}

#upozorneni_na_nove_zpravy {
    padding: 10px 20px;
    background-color: #d0d0d0;
}

.flash_infozprava_item {
    margin-bottom: 5px;
    padding: 15px 5px 5px 50px;
    text-align: left;
    border-bottom: 1px #c0c0c0 solid;
    background: #ffffff url('../images/icons/subjekt_ao.png') 10px 5px no-repeat;
}

#flash_version {

    /*width: 960px;*/
    margin: 0 auto 0 auto;
    padding: 15px 5px 15px 50px;
    text-align: left;
    color: #880000;
    border: 1px #681203 solid;
    background: #ffcccc url('../images/icons/dialog-error.png') 10px 10px no-repeat;
}

.flash_action {
    text-align: right;
    margin: 0px;
    padding: 4px;
}

#error {
    color: #880000;
}

#error p {
    margin: 20px;
}

#no_access {
    padding: 10px 30px;
}

#no_access p {
    margin: 0px;
}


/* ***************************************************************** */
/* *** LOGIN *** */

#form_login {
    text-align: center;
}

#form_login form {
    border: 1px solid;
    text-align: left;
    width: 400px;
    margin: 0 auto 0 auto;
    padding: 10px;
    background: #f0f0f0 ;
}

#form_login label {
    text-align: right;
    display: inline-block;
    width: 150px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#form_user_registration form {
    border: 1px solid;
    text-align: left;
    width: 600px;
    margin: 0 auto 0 auto;
    padding: 10px;
    background: #f0f0f0 ;
}

/* ***************************************************************** */
/* *** SEZNAM *** */
/* table.seznam je pouzit i pro seznam dokumentu */

table.seznam td.icon {
    text-align: center;
    width: 38px;
}

/* použito pouze pro seznam sestav */
td.seznam-sestav-pruh-ikon {
    text-align: left;
    width: 140px;
}

td.seznam-sestav-pruh-ikon a {
    border: 0px;
    text-decoration: none;
}

table.seznam td.meta a {
    font-weight: bold;
}

table.seznam td.meta div.info {
    font-size: 8pt;
}

table.seznam td.meta span {
    color: #808080;
}

table.seznam td.meta div.popis {
    padding: 2px 5px;
}

table.seznam td.meta .vyber {
    font-size: 8pt;
    padding-top: 10px;
}

table.seznam td.meta .vyber a {
    font-size: 8pt;
    color: #000088;
    margin-right: 5px;
}

table.seznam td.meta .vyber a:hover {
    font-size: 8pt;
    color: #ff0000;
}

table.seznam td.meta_plus {
    text-align: left;
    width: 50%;
}

table.seznam td.meta_plus div.info {
    font-size: 8pt;
}

table.seznam td.meta_plus span {
    color: #808080;
}

table.seznam td.meta_plus div.popis {
    padding: 2px 5px;
}

table.seznam td.meta_plus dl {
    clear: both;
    margin: 0px; padding: 0px;
}

table.seznam td.meta_plus dt {
    float: left;
    width: 40px;
    text-align: right;
    color: #808080;
    margin: 0px; padding: 0px;
    margin-right: 5px;
}

table.seznam td.meta_plus dd {
    margin: 0px; padding: 0px;
    margin-left: 45px;
    font-weight: normal;
}

table.seznam td.user {
    border: 0px;
    border-bottom: 1px #e0e0e0 solid;
    text-align: right;
    width: 120px;
}


table.odeslat-subjekty td {
    border-width: 0px;
}

table.odeslat-subjekty td.odeslat-subjekty-separator {
    border-bottom-width: 1px;
    padding: 0px;
}


#ajax-spinner,
.dialog-spinner {
    left: 50%;
    top: 50%;
    background: white url('../images/spinner.gif') no-repeat 50% 50%;
    font-size: 0;
    border: 0px;
}
.dialog-spinner {
    width: 100%;
    height: 100%;
}
#ajax-spinner {
    position:fixed;
    z-index: 120;
    margin: -15px 0 0 -15px;
    padding: 13px;
    border: 2px solid #CCC;
}

/* #ajax-spinner-hor {
    position:fixed;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -15px;
    background: white url('../images/spinner_horizontal.gif') no-repeat 50% 50%;
    padding: 13px 70px;
    border: 2px solid #CCC;
    font-size: 0;
    z-index: 119;
} */


/* ******************************************************************* */
/* *** FILTR cONTROL *** */
#filtr {
    float: left;
    margin-bottom: 15px;
    text-align: left;
}
#filtr #frmfiltrForm-filtr {
    border: 1px solid #03406A;
    color: #03406A;
}
#filtr #frmfiltrForm-go_filtr {
    display: none;
    background: #03406A;
    border: 1px solid #03406A;
    color: white; font-weight: bold;
}

/* ******************************************************************* */
/* *** SERADIT CONTROL *** */
#seradit {
    margin: 20px 0px;
    text-align: left;
}
#seradit #frmseraditForm-seradit {
    border: 1px solid #03406A;
    color: #03406A;
}
#seradit #frmseraditForm-go_seradit {
    background: #03406A;
    border: 1px solid #03406A;
    color: white; font-weight: bold;
}

/* ******************************************************************* */
/* *** SEARCH cONTROL *** */
#search {
    float: right;
    margin-bottom: 15px;
    text-align: right;
}
#search form {
    margin: 0px 0px 5px 0px;
}

#search #frmsearchForm-dotaz {
    border: 1px solid #03406A;
    color: #03406A;
}
#search #frmsearchForm-hledat {
    background: #03406A;
    border: 1px solid #03406A;
    color: white; font-weight: bold;
}
#search_advanced {
    margin: 5px 0px;
    margin: 0px;
}

#tisk {
    position: absolute;
    top: 10px;
    right: 0px;
}

#tisk a {
    text-decoration: none;
    margin: 0px;
    padding: 0px 5px;
    background-color: white;
}

/* ******************************************************************* */
/* *** PAGINATOR *** */

.paginator {
    margin: 20px 0px;
    text-align: center;
    /*font-size: 90%;*/
}
.paginator_info {
    margin-bottom: 10px;
    color: #03406A;
}
.paginator a,
.paginator span {
    margin-right: 0.1em;
    padding: 0.2em 0.5em;
    color: #999999;
}
.paginator a {
    border: 1px solid #03406A;
    text-decoration: none;
    color: #03406A;
}
.paginator span.button {
    border: 1px solid #DDDDDD;
}
.paginator .current {
    background: #03406A;
    border: 1px solid #03406A;
    color: white; font-weight: bold;
}


/* ***************************************************************** */
/* *** Ruzne *** */

#frm-odeslaniForm input[name=poznamka],
tr.odes_form input.poznamka {

    width: 500px;
}

div.icon_spis, div.icon_slozka {
    background: url('../images/icons/spisy.png') no-repeat right;
    width: 16px;
    height: 16px;
    display: inline-block;
}
div.icon_slozka {
    background-image: url('../images/icons/folder_yellow.png');    
}
.jstree-default .icon-folder {
    background-image: url('../images/icons/folder_yellow.png');
    background-position: center;
}
.jstree-default .icon-spis {
    background-image: url('../images/icons/spisy.png');
    background-position: center;
}

.sestava_vyber_sloupcu {
    overflow: auto;
    margin-top: 15px;
}
.sestava_vyber_sloupcu div {
    float: left;
    margin: 0px 20px;
}
.sestava_vyber_sloupcu select {
    width: 200px;
}
.sestava_vyber_sloupcu input[type="button"] {
    width: 70px;
    /*margin-top: 15px;*/
}
.sestava_vyber_sloupcu .vybrat_sloupec {
    margin-top: 70px;
}
.sestava_vyber_sloupcu dt {
    float: none;
    width: auto;
    text-align: left;
}
.sestava_vyber_sloupcu dd {
    margin: 0px;
}
.sestava_vyber_sloupcu .error {
    display: block;
}

/* Uprava jQuery tematu */
.ui-widget-content {
    border-width: 2px;
}

.spis_znak_neaktivni, .spis_znak_neaktivni a {
    color: #c0c0c0;
}