body {
    background: #f0f0f0 ;
}

/* ***************************************************************** */
/* *** TOP LAYOUT *** */
#layout_top {
    background: #9FCE98 ;
}

#top {
    background: #5FBC50 ;
}

#top h1 {
    color: #134E09;
}

#top h1 a {
    color: #134E09;
}

#top_menu {
    color: #134E09;
}

#top_menu a {
    color: #134E09;
}

#top_menu a:hover {
    color: #FFC273;
}

#top_jmeno {
    color: #134E09;
}

#top_jmeno a {
    color: #134E09;
}

#top_jmeno a:hover {
    color: #FFC273;
}

/* ***************************************************************** */
/* *** CONTENT LAYOUT *** */
#layout {
    width: 980px;
    margin: 0 auto 0 auto;
    padding: 0px;
}

#menu {
    background: #134E09 ;
    padding: 10px 10px;
}

#menu a {
    color: #FFC273;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    margin: 0px 10px;
}

table.seznam th {
    background-color: #134E09;
}

.dokument_blok_hlavni {
    border: 1px #5FBC50 solid;
    background: #9FCE98 ;
}


#hromadna_akce {
    position: relative;
    padding: 10px 10px;
    margin: 0px; margin-bottom: 10px;
    background-color: #134E09;
    color: #ffffff;
}

#frmnovyForm-user_id {
    visibility: hidden;
}

#frmnovyForm-dokument_id {
    visibility: hidden;
}


/* ***************************************************************** */
/* *** BOTTOM LAYOUT *** */
#layout_bottom {
    margin: 0px;
    padding: 0px;
}

#bottom {
    width: 970px;
    margin: 0 auto 0 auto;
    padding: 5px 5px 5px 5px;
    text-align: right;
    color: #134E09;
    font-size: 8pt;
    background: #5FBC50 ;
}

#bottom a {
    color: #134E09;
    text-decoration: none;
}

#bottom a:hover {
    color: #FFC273;
    text-decoration: underline;
}
