body {
    background: #f0f0f0 ;
}

/* ***************************************************************** */
/* *** TOP LAYOUT *** */
#layout_top {
    background: #9FCE98 ;
}

#top {
    background: #5FBC50 ;
}

#top h1 {
    color: #134E09;
}

#top h1 a {
    color: #134E09;
}

#top_menu {
    color: #134E09;
}

#top_menu a {
    color: #134E09;
}

#top_menu a:hover {
    color: #FFC273;
}

#top_jmeno {
    color: #134E09;
}

#top_jmeno a {
    color: #134E09;
}

#top_jmeno a:hover {
    color: #FFC273;
}

/* ***************************************************************** */
/* *** CONTENT LAYOUT *** */
#layout {
    width: 980px;
    margin: 0 auto 0 auto;
    padding: 0px;
}

#menu {
    background: #134E09 ;
    padding: 10px 10px;
}

#menu a {
    color: #FFC273;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    margin: 0px 10px;
}

#content {
    background: #ffffff ;
    min-height: 500px;
}

#dialog table th,
#content table th {
    background-color: #134E09;
    padding: 5px 5px;
    text-align: left;
    color: #ffffff;
    border: 1px #134E09 solid;
}

#dokument_blok_hlavni {
    border: 1px #5FBC50 solid;
    background: #9FCE98 ;
}

#dokument_blok_poznamka {
    border: 1px #f0f0f0 solid;
    background: #f0f0f0 ;
}

#dokument_blok_poznamka .h2 {
    border-bottom: 1px #e0e0e0 solid;
}

#dokument_blok_subjekty .h2 {
    border-bottom: 1px #e0e0e0 solid;
}


#dokument_blok_prilohy {
    background: #f0f0f0 ;
}
#dokument_blok_prilohy .h2 {
    border-bottom: 1px #e0e0e0 solid;
}

#dokument_blok_akce {
    border: 1px #e0e0e0 solid;
    background: #8FBAD9 ;
}

#dokument_blok_volby {
    background: #f0f0f0 ;
}

#dokument_blok_volby a {
    color: #000088;
}

#dokument_blok_volby a:hover {
    color: #ff0000;
}

#hromadna_akce {
    position: relative;
    padding: 10px 10px;
    margin: 0px; margin-bottom: 10px;
    background-color: #134E09;
    color: #ffffff;
}
#checkbox_all_on {
    color: #FFC273;
    text-decoration: underline;
    cursor: pointer;
}
#checkbox_all_off {
    color: #FFC273;
    text-decoration: underline;
    cursor: pointer;
}

#frmnovyForm-user_id {
    visibility: hidden;
}

#frmnovyForm-dokument_id {
    visibility: hidden;
}


/* ***************************************************************** */
/* *** BOTTOM LAYOUT *** */
#layout_bottom {
    margin: 0px;
    padding: 0px;
}

#bottom {
    width: 970px;
    margin: 0 auto 0 auto;
    padding: 5px 5px 5px 5px;
    text-align: right;
    color: #134E09;
    font-size: 8pt;
    background: #5FBC50 ;
}

#bottom a {
    color: #134E09;
    text-decoration: none;
}

#bottom a:hover {
    color: #FFC273;
    text-decoration: underline;
}


/* ***************************************************************** */
/* *** DEBUG LAYOUT *** */

#debug {
    width: 970px;
    margin: 0 auto 0 auto;
    padding: 5px 5px 5px 5px;
    color: #FFC273;
    font-size: 10pt;
    background: #134E09 ;
}

#debug_head {
    color: #ffffff;
}

#debug_head strong {
    color: #FFC273;
}

#debug_info {
    float:left;
    margin-right: 10px;
}
#debug_route {
    float:left;
    margin-right: 10px;
}
#debug_time {
    float:left;
    margin-right: 10px;
}
#debug_memory {
    float:left;
    margin-right: 10px;
}
#debug_sql {
    float:left;
    margin-right: 10px;
}

#debug_body {
    background-color: #134E09;
}

#debug_body_info {
    white-space: pre;
    font-family: monospace;
    background-color: #ffffff;
    color: #000000;
    margin: 10px; padding: 10px;
}

#debug_body_route {
    white-space: pre;
    font-family: monospace;
    background-color: #ffffff;
    color: #000000;
    margin: 10px; padding: 10px;
}

#debug_body_sql {
    background-color: #ffffff;
    color: #000000;
    margin: 10px; padding: 10px;
}

.debug_body_sql_item {
    padding: 10px;
    border-bottom: 1px #c0c0c0 solid;
}

