    <div id="tisk">
        <a href="{plink this, 'print' => 1}" title="vytisknout tuto stránku" target="_blank">
            <img src="{$publicUrl}images/icons/printer.png" alt="printer.png" width="32" height="32" />
        </a>
        <a href="{plink this, 'pdfprint' => 1}" title="Vytisknout tuto stránku do PDF" target="_blank">
            <img src="{$publicUrl}images/mimetypes/application-pdf.png" alt="application-pdf.png" width="32" height="32" />
        </a>        
    </div>
