{block content}
<div class="help_content">
    {if \Nette\Environment::getHttpRequest()->isAjax()}
        <button onclick="displayHelpPage($(this).data('url'));" data-url="{link :Spisovka:Napoveda:}">Obsah nápovědy</button>
        <p></p>
    {/if}
    {? require $helpFile}
</div>