{block content}
<div class="help_content">
    <button n:if="\Nette\Environment::getHttpRequest()->isAjax()" onclick="displayHelpPage($(this).data('url'));" data-url="{link :Spisovka:Napoveda:}">Obsah nápovědy</button>
    {? require $helpFile}
</div>