<div n:if="$presenter->view != 'prijem'" class="blok_menu">
    {if $presenter->view == 'strom'}
        <a href="{link default}">Zobrazit klasicky</a>
    {else}
        <a href="{link strom}">Zobrazit ve stromu</a>
    {/if}
</div>    
