    {form $form}
    {include form_common.latte, _form => $form}

    {if $muzeHledatDlePrideleni}
    {include form_predani.latte, _form => $form}
    {/if}

    {include form_subjekt.latte, _form => $form}

    <div class="dokument_blok_submit">
        {input vyhledat}
    </div>
    {/form}

<script type="text/javascript">
    installDatePicker();
    initSelect2();
</script>