    {form $form}
    {include form_common.latte}

    {if $muzeHledatDlePrideleni}
    {include form_predani.latte}
    {/if}

    {include form_subjekt.latte}

    <div class="dokument_blok_submit">
        {$form['vyhledat']->control}
    </div>
    {/form}


<script type="text/javascript">
    installDatePicker();
    initSelect2();
</script>