    <div class="dokument_blok_sedy">
        <div class="h2">
            Adresáti / odesílatelé
        </div>
        {input2 subjekt_type}
        {input2 subjekt_nazev}
        {input2 adresa_ulice}
        <dl>
            <dt>PSČ a město:</dt>
            <dd>{input adresa_psc} {input adresa_mesto}</dd>
        </dl>
        {input2 subjekt_email}
        {input2 subjekt_telefon}
        {input2 subjekt_isds}
    </div>
