{block title}Seznam dokumentů{/block}
{block content}
    <div class="navigate">
    <a href="{link :Admin:Orgjednotky:seznam}">Seznam organizačních jednotek</a> - Nová organizační jednotka
    </div>
    <h2>Nová organizační jednotka</h2>

    <div class="detail_blok">
        <div class="detail_hlavicka">Info</div>
        {control novyForm}
    </div>
