{* Latte template *}

{block title}Datová schránka{/block}
{block content}
    <div class="navigate">
    <a href="{link default}">Transakční protokoly</a> - Datová schránka
    </div>

    <h2>Datová schránka</h2>

    <pre>
{$protocol|noescape}
    </pre>