{* Latte template *}

{block title}Datová schránka{/block}
{block content}
    <div class="navigate">
    <a href="{link default}">Transakční protokoly</a> - Datová schránka
    </div>

    <h2>Datová schránka</h2>
    
    <div class="blok_menu">
        <a n:href="this, delete => 1">Smazat protokol</a>
    </div>
    
    <pre>
{$protocol|noescape}
    </pre>