{block title}číselníky{/block}
{block content}
    <div class="navigate">
    Číselníky
    </div>

    <h2>Číselníky</h2>

    <table class="ciselnik_seznam">

        <tr>
            <td class="icon">
                <img src="{$publicUrl}images/icons/ciselnik.png" alt="ciselnik.png" title="číselník" width="32" height="32" />
            </td>
            <td class="meta">
                <a href="{link :Admin:Ciselniky:typdokumentu}">Typ dokumentu</a>
                <div class="popis">
                    Správa typ dokumentu
                </div>
            </td>
        </tr>
        <tr>
            <td class="icon">
                <img src="{$publicUrl}images/icons/ciselnik.png" alt="ciselnik.png" title="číselník" width="32" height="32" />
            </td>
            <td class="meta">
                <a href="{link :Admin:Ciselniky:spousteciudalost}">Spouštěcí událost</a>
                <div class="popis">
                    
                </div>
            </td>
        </tr>
        <tr>
            <td class="icon">
                <img src="{$publicUrl}images/icons/ciselnik.png" alt="ciselnik.png" title="číselník" width="32" height="32" />
            </td>
            <td class="meta">
                <a href="{link :Admin:Ciselniky:zpusobvyrizeni}">Způsob vyřízení</a>
                <div class="popis">
                    Správa způsobu vyřízení
                </div>
            </td>
        </tr>
        <tr>
            <td class="icon">
                <img src="{$publicUrl}images/icons/ciselnik.png" alt="ciselnik.png" title="číselník" width="32" height="32" />
            </td>
            <td class="meta">
                <a href="{link :Admin:Ciselniky:zpusobodeslani}">Způsob odeslání</a>
                <div class="popis">
                    Správa způsobu odeslání dokumentu
                </div>
            </td>
        </tr>
        <tr>
            <td class="icon">
                <img src="{$publicUrl}images/icons/ciselnik.png" alt="ciselnik.png" title="číselník" width="32" height="32" />
            </td>
            <td class="meta">
                <a href="{link :Admin:Ciselniky:zpusobdoruceni}">Způsob doručení</a>
                <div class="popis">
                    Správa způsobu doručení dokumentu
                </div>
            </td>
        </tr>
        <tr>
            <td class="icon">
                <img src="{$publicUrl}images/icons/ciselnik.png" alt="ciselnik.png" title="číselník" width="32" height="32" />
            </td>
            <td class="meta">
                <a href="{link :Admin:Ciselniky:staty}">Státy</a>
                <div class="popis">
                    Seznam států
                </div>
            </td>
        </tr>        
        <tr>
            <td class="icon">
                <img src="{$publicUrl}images/icons/ciselnik.png" alt="ciselnik.png" title="číselník" width="32" height="32" />
            </td>
            <td class="meta">
                <a href="{link :Admin:Ciselniky:druhzasilky}">Druh poštovní zásilky</a>
            </td>
        </tr>        


    </table>
