<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="shortcut icon" href="{$publicUrl}favicon.ico" type="image/x-icon" />
    <title>Spisová služba - Spisovna</title>
    <style type="text/css" media="screen, print">
        {file_get_contents(APP_DIR .'/../public/css/print_site.css')|noescape}
    </style>
</head>
<body>
    <table id="table_top">
        <tr>
            <td align="left" valign="top">{$title}</td>
            <td align="right" valign="top">{$Urad->nazev}</td>
        </tr>
    </table>
    <div id="dokumenty">
    {if count($seznam)>0}
    <table>
        <tr>
            <th class="typ">Typ dokumentu</th>
            <th class="prijato">Přijato<br />Vyřízen<br />Skartační rok</th>
            <th class="cislo_jednaci">Číslo jednací<br />JID<br />Název spisu</th>
            <th class="vec">Věc<br />Adresáti/odesílatelé<br />počet listů a příloh</th>
            <th class="prideleno">Přidělen / Vyřídil</th>
            <th class="stav">Spisový znak<br/>Skartační znak / lhůta<br/>Stav</th>
        </tr>
        {foreach $seznam as $dok}
        <tr>
            <td class="typ">
                {if $dok->typ_dokumentu->smer == 1}
                vlastní
                {else}
                příchozí
                {/if}
                {if !empty($dok->epod_is_email)}
                <br>přijato emailem
                {elseif !empty($dok->epod_is_isds)}
                <br>přijato ISDS
                {/if}                
            </td>
            <td class="prijato">
                <span title="{$dok->datum_vzniku|edatetime}">{$dok->datum_vzniku|edate}</span>
                <br />
                <span title="{$dok->datum_vyrizeni|edatetime}">{$dok->datum_vyrizeni|edate}</span>
                <br />
                <span><strong>{$dok->skartacni_rok}</strong></span>
            </td>
            <td class="cislo_jednaci">
                <strong>
                   {$dok->cislo_jednaci}{if $Typ_evidence=='sberny_arch'}{$Oddelovac_poradi}{$dok->poradi}{/if}
                </strong>
                <div class="small">&nbsp;{$dok->jid}</div>
                {if isset($dok->spisy)}
                {foreach $dok->spisy as $spis}
                {$spis->nazev}<br />
                {/foreach}
                {/if}
            </td>
            <td class="vec">
                <strong title="{$dok->popis}">
                    {$dok->nazev}
                </strong>
                <br />
                <div class="mezera">
                {if count($dok->subjekty)>0}

                {foreach $dok->subjekty as $subjekt}
                {=Subjekt::displayName($subjekt,'plna_adresa')}<br />
                {/foreach}
                {else}
                nejsou přiděleny žádné subjekty!
                <br />
                {/if}
                </div>
                <span class="small">přílohy:
                {=($dok->pocet_listu)+0} listů,
                {=($dok->pocet_priloh)+0} list. příloh,
                {=(count($dok->prilohy)+0)} příloh</span>
                <br/>
                <span class="small">způsob vyřízení:
                {$dok->zpusob_vyrizeni}</span>

            </td>
            <td class="prideleno">
                {$dok->prideleno->prideleno_jmeno}
                <br />
                {=@$dok->prideleno->orgjednotka_info->zkraceny_nazev}
            </td>
            <td class="stav">
                {$dok->spisovy_znak_id}
                <br />
                {$dok->skartacni_znak} / {$dok->skartacni_lhuta}
                <br />
                {if isset($zapujcky[$dok->id])}
                zapůjčen
                {elseif $dok->stav_dokumentu==6}
                předán do spisovny
                {elseif $dok->stav_dokumentu==7}
                vyřízen
                {elseif $dok->stav_dokumentu==8}
                ke skartaci
                {elseif $dok->stav_dokumentu==9}
                archivován
                {elseif $dok->stav_dokumentu==10}
                skartován
                {/if}
            </td>
        </tr>
        {/foreach}


    </table>
    <div id="tisk_podpis">
        &nbsp;<br />
        Vytištěno dne: {=date("j.n.Y G:i")}
        <br />
        Vytiskl: {=$userobj->getIdentity()->display_name}
    </div>
    {else}
        <div>&nbsp;</div>
        {if isset($no_items)}
        {if $no_items==1}
        <div class="prazdno">Nemáte k dispozici žádné dokumenty.</div>
        {elseif $no_items==2}
        <div class="prazdno">K danému filtru nemáte k dispozici žádné dokumenty.</div>
        {elseif $no_items==3}
        <div class="prazdno">Dokumenty odpovidající hledanému výrazu nebyly nalezeny.</div>
        {elseif $no_items==4}
        <div class="prazdno">Dokumenty odpovidající daným požadavkům nebyly nalezeny.</div>
        {/if}
        {else}
    <div class="prazdno">Nebyly zjištěny žádné dokumenty.</div>
        {/if}
    {/if}
    </div>
</body>
</html>    