    <div class="dokument_blok_sedy">
        <div class="h2">Transakční protokol</div>

        {foreach $historie as $h}
        <dl>
            <dt>{$h->date|edatetime}</dt>
            <dd>{!=LogModel::typ($h->typ)}<br />
            {if !empty($h->poznamka)}<span class="normal-font">{$h->poznamka}</span><br />{/if}
            <span class="normal-font">provedl: {Osoba::displayName($h)}</span>
            </dd>
        </dl>
        {/foreach}
    </div>