    <div class="dokument_blok2">
        <div class="h2">Transakční protokol</div>

        {foreach $historie as $h}
        <dl class="detail_item2">
            <dt>{$h->date|edatetime}</dt>
            <dd>{!=LogModel::typ($h->typ)}</dd>
            {if !empty($h->poznamka)}<dd class="normal">{$h->poznamka}</dd>{/if}
            <dd class="normal">provedl: <?php echo Osoba::displayName($h); ?></dd>
        </dl>
        {/foreach}
    </div>