{block title}Instalace - databáze{/block}
{block menu}
{include 'menu.latte'}
{/block}
{block content}
<h1>Instalace - Databáze</h1>

<div id="kontrola">
    {if isset($provedeno)}
        <div class="passed result">
            <h2>Tabulky a data jsou již nahrané.</h2>
            <p>Tento instalační krok již byl proveden. Můžete pokračovat.</p>
            <p><a href="{link urad}">Pokračovat v instalaci</a></p>
        </div>
    {elseif $presenter->getParameter('install')}   
        {if $error}
            <div class="failed result">
                <h2>Při nahrání tabulek do databáze nastala chyba!</h2>
                <p>Máte tyto možnosti:
                <ul>
                    <li>Smazat ručně databázi, vytvořit novou prázdnou a zkusit <a href="{link this, 'install' => 0}">provést nahrání znovu</a>.</li>
                    <li>Kontaktovat pověřenou osobu nebo technickou podporu aplikace.</li>
                </ul>
                </p>
                <p>V této fázi není možné pokračovat v instalaci. Pro pokračování instalace je potřeba provést nápravu.</p>
            </div>
            <div class="failed result">
                <p><strong>Text výjimky:</strong> <br />
                    {$error}<br />
                    <strong>Dotaz, který chybu vyvolal:</strong><br />
                    {$query}
                </p>
            </div>
        {else}
            <div class="passed result">
                <h2>Blahopřeji! Nahrání tabulek a dat proběhlo v pořádku.</h2>
                <p>Můžete pokračovat v instalaci.</p>
                <p><a href="{link urad}">Pokračovat v instalaci</a></p>
            </div>
        {/if}
    {else} {* 1. krok, kontrola *}
        {if $error}
            <div class="failed result">
                <h2>Nelze pokračovat v instalaci</h2>
                <p>Proveďte nápravu a potom <a n:href="this">opakujte kontrolu</a>.</p>
            </div>
        {else}
            <div class="passed result">
                <h2>Kontrola databáze proběhla v pořádku.</h2>
                <p>Můžete pokračovat v nahrání tabulek do databáze.</p>
                <p><a href="{link this, 'install' => 1}">Nahrát tabulky a data</a></p>
            </div>
        {/if}

        <table class="spisovka">
            {foreach $output as $id => $requirement}
                {var $class = isset($requirement->passed) ? ($requirement->passed ? 'passed' : ($requirement->required ? 'failed' : 'warning')) : 'info'}
                <tr id="res{$id}" class="{$class}">
                    <td class="th">{($requirement->title)}</td>

                    {if (empty($requirement->passed) && isset($requirement->errorMessage))}
                        <td>{($requirement->errorMessage)}</td>
                    {elseif (isset($requirement->message))}
                        <td>{($requirement->message)}</td>
                    {elseif (isset($requirement->passed))}
                        <td>{$requirement->passed ? 'Enabled' : 'Disabled'}</td>
                    {else}
                        <td></td>
                    {/if}
                </tr>

                {if (isset($requirement->passed) && !$requirement->passed)}
                    <tr class="{$class} description">
                        <td colspan="2">{$requirement->description|noescape}</td>
                    </tr>
                {/if}
            {/foreach}
        </table>
    {/if}
</div>    