{block title}Instalace{/block}
{block content}
<h1>Aplikace není připravena k použití!</h1>

<p>Tato aplikace není nainstalována a nastavena pro použití spisové služby.</p>

<p>
    Pokud jste správce, či osoba pověřena instalaci aplikace, postupujte podle rad
    uvedených v instalačním souboru.
</p>

<p>
    Pokud jste běžný uživatel, vyčkejte na zprovoznění aplikace. Případně kontaktujte svého správce.
</p>