{block title}Instalace{/block}
{block content}
<h1>Aplikace je již nainstalována!</h1>

<p>Aplikace je již nainstalována a provozuschopná. Přejděte na <a href="{link :Spisovka:default:default}">hlavní stránku</a>.</p>

<p>Pokud chcete provést novou instalaci nebo aktualizaci aplikace, postupujte podle rad uvedených v instalačním souboru.</p>
