{block title}Instalace - Konec{/block}
{block menu}
{include 'menu.latte'}
{/block}
{block content}
<h1>Instalace - Dokončení</h1>

<div id="kontrola">
    <div class="passed result">
        <h2>Blahopřeji! Instalace spisové služby byla úspěšně dokončena.</h2>
        <p>Nyní můžete začít používat aplikaci.</p>
        <p>
            Další tipy po instalaci:
            <ul>
                <li>Vytvořte si organizační jednotky, které ve Vašem úřadu existují a budou využívat spisovou službu.</li>
                <li>Vytvořte si zaměstnance, kteří budou využívat spisovou službu.</li>
                <li>Všem nebo vybraným zaměstnancům vytvořte uživatelské účty a přiřaďte jim odpovídající role.</li>
                <li>Budete-li používat e-podatelnu, nastavte potřebné hodnoty pro přístup k datové schránce nebo pro příjem e-mailových zpráv.</li>
            </ul>
            
        </p>
        <p><a href="{link :Spisovka:Default:default}">Přejít k aplikaci</a></p>
    </div>
</div>