{block title}Instalace - kontrola{/block}
{block header}
    {css install_site}
{/block}
{block menu}
{if !$installed}
    <a href="{link :Install:Default:uvod}">Úvod</a> >
    <strong>Kontrola</strong> >
    <span>Nahrání databáze</span> >
    <span>Nastavení klienta</span> >
    <span>Nastavení evidence</span> >
    <span>Nastavení správce</span> >
    <span>Konec</span>
{/if}
{/block}
{block kontroly}
    <table class="spisovka">
        {foreach $requirements as $id => $requirement}
            {var $class = isset($requirement->passed) ? ($requirement->passed ? 'passed' : ($requirement->required ? 'failed' : 'warning')) : 'info'}
            {if isset($nette)}
                {continueIf $class == "passed" || $class == "info"}
            {/if}
            <tr class="{$class}">
                <td class="th">{$requirement->title}</td>

                {if empty($requirement->passed) && isset($requirement->errorMessage)}
                    <td>{$requirement->errorMessage}</td>
                {elseif isset($requirement->message)}
                    <td>{$requirement->message|nl2br|noescape}</td>
                {elseif isset($requirement->passed)}
                    <td>{$requirement->passed ? 'Enabled' : 'Disabled'}</td>
                {else}
                    <td></td>
                {/if}
            </tr>
            <tr n:if="isset($requirement->passed) && !$requirement->passed" class="{$class} description">
                <td colspan="2">{$requirement->description|noescape}</td>
            </tr>
        {/foreach}
    </table>
{/block}

{block content}

<h1>{if !$installed}Instalace - {/if}Kontrola serveru na minimální požadavky aplikace</h1>

<p>
    V tomto kroku se zkontrolují minimální požadavky na provoz spisové služby. Jedná se především o kontrolu
    provozuschopnosti jádra aplikace, která je založena na Nette Framework. Dále kontrola na dostupnost
    potřebných komponent pro použití určitých funkcí, jako třeba obsluha datových schránek,
    příjem a odesílání emailů, ověření pravosti apod. V neposlední řadě také kontrola na zapisovatelnost
    pro některé konfigurační soubory a zápisu pro dočasné soubory.</p>

<div id="kontrola">
    {if ($errors)}
        <div class="failed result">
            <h2>Omlováme se, ale konfigurace serveru nesplňuje požadavky pro použití aplikace!</h2>
            <p>Není možné pokračovat v instalaci.</p>
            <p>Podívejte se do detailu a u vyznačených bodů zjednejte nápravu. Poté <a href="?">znovu ověřte</a>.</p>
        </div>
    {else}
        <div class="passed result">
            <h2>Blahopřeji! Konfigurace serveru splňuje minimální požadavky pro použití aplikace.</h2>
            <p n:if="$warnings">Byly zjištěny nesrovnalosti, které mohou ovlivnit chod aplikace. Podívejte se do detailu a u vyznačených bodů se rozhodněte,
                zda je daná položka nutná pro běh aplikace nebo ne.</p>
                {if !$installed}
                <p>Můžete pokračovat v instalaci.</p>
                <p><a href="{link :Install:Default:databaze}">Pokračovat v instalaci</a></p>
            {/if}
        </div>
    {/if}

    <h2>Detail kontroly:</h2>

    {include #kontroly, requirements => $requirements_ess}
    
    <h2>Detaily jádra aplikace (Nette Framework)</h2>
    <p>(zobrazí se pouze varování a chyby)</p>
    
    {include #kontroly, requirements => $requirements, nette => true}
    
</div>
