{block title}Instalace - nastavení správce systému{/block}
{block menu}
<a href="{link :Install:Default:uvod}">Úvod</a> >
<a href="{link :Install:Default:kontrola}">Kontrola</a> >
<a href="{link :Install:Default:databaze}">Nahrání databáze</a> >
<a href="{link :Install:Default:urad}">Nastavení klienta</a> >
<a href="{link :Install:Default:evidence}">Nastavení evidence</a> >
<strong>Nastavení správce</strong> >
<span>Konec</span>
{/block}
{block content}
<h1>Instalace - Vytvoření správce systému</h1>

<p>
V posledním kroku vytvořte správce (administrátor), který bude dohlížet na chod spisové služby.
Dobře zvažte, koho správou spisové služby pověříte. Tato osoba bude mít na starost přidávání a správu
uživatelů, přidání a správu organizační jednotky, možnost měnit oprávnění, možnost nastavení e-podatelny,
informace o klientovi, případně změnu čísla jednacího.
</p>

    <div class="detail_blok">
       {control spravceForm}
    </div>