{block title}Instalace - nastavení informace o úřadu{/block}
{block menu}
{include 'menu.latte'}
{/block}
{block content}
<h1>Instalace - Nastavení informace o úřadu</h1>

<p>
Zde vyplňujete informace o sobě. Povinné jsou pouze položky název a zkratka.
Název slouží jako identifikace klienta. Zobrazuje se v záhlaví pod nadpisem Spisová služba a jako
součást záhlaví při tisku sestavy. Zkratka se uvádí jakou součást čísla jednacího.
Ostatní položky vyplňte dle vlastního uvážení.
</p>

    <div class="detail_blok">
        {control nastaveniUraduForm}
    </div>