php:
    date.timezone = "Europe/Prague"

parameters:
    send_survey = true
    public_url = null
 
    storage_configuration:
        path_documents = files/dokumenty
        path_epodatelna = files/epodatelna

nette:
    application:
        errorPresenter: Error
    session:
        name: SpisovkaSessionID
        savePath: "%clientDir%/sessions"
        cookiePath: %cookiePath%
        autoStart: true
    latte:
        xhtml: true
        
services:
    authorizator = Spisovka\Authorizator
    authenticator = Spisovka\Authenticator_Basic
    authenticatorUI = Spisovka\Authenticator_UI
#    userImport = Import_LDAP
#    ldap = Spisovka_LDAP(%ldap%)
    httpResponse = Spisovka\IEHttpResponse
    nette.presenterFactory:
        class: Spisovka\PresenterFactory
        arguments:
            - Nette\Bridges\ApplicationDI\PresenterFactoryCallback(..., 0, NULL)
    storage = Spisovka\Storage_Basic(%storage_configuration%)
    user = Spisovka\User
