php:
    date.timezone = "Europe/Prague"

parameters:
    send_survey = true
 
    storage_configuration:
        path_documents = files/dokumenty
        path_epodatelna = files/epodatelna

nette:
    application:
        errorPresenter: Error
    session:
        name: SpisovkaSessionID
        savePath: "%clientDir%/sessions"
        cookiePath: %cookiePath%
        autoStart: true
        
services:
    authorizator = Acl
    authenticator = Authenticator_Basic
    authenticatorUI = Authenticator_UI
#    userImport = Import_LDAP
#    ldap = Spisovka_LDAP(%ldap%)
    httpResponse = Spisovka\IEHttpResponse
    nette.presenterFactory = PresenterFactory(%appDir%, ...)
    storage = Storage_Basic(%storage_configuration%)
