<div class="blok_menu">
    <a href="{link novy}">Nový spis</a>
    {if $presenter->view == 'strom2'}
        <a href="{link default}">Zobrazit klasicky</a>
    {else}
        <a href="{link strom2}">Zobrazit ve stromu</a>
    {/if}
</div>    
