<div class="blok_menu">
    <a href="{link novy}">Nový spis</a>
    {if $presenter->view == 'strom2'}
        <a href="{link default}">Zobrazit klasicky</a>
    {else}
        <a href="{link strom2}">Zobrazit ve stromu</a>
    {/if}
    {if $presenter->getParameter('do_spisovny')}
        <a href="{link default}">Zobrazit všechny spisy</a>
    {else}
        <a href="{link default, do_spisovny => 1}">Předat do spisovny</a>
    {/if}
</div>    
