<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="shortcut icon" href="{$publicUrl}favicon.ico" type="image/x-icon" />
    <title>Spisová služba</title>
    <style type="text/css" media="screen, print">
        {file_get_contents(APP_DIR .'/../public/css/print_site.css')|noescape}
        {file_get_contents(APP_DIR .'/../public/css/printdetail_site.css')|noescape}
    </style>
</head>
<body>
<div id="content">
    <h2>{$Spis->nazev}</h2>
    
    <div class="detail_blok">
        <dl class="detail_item">
            <dt>Název spisu:</dt>
            <dd>{$Spis->nazev}&nbsp;</dd>
        </dl>
        <dl class="detail_item">
            <dt>Popis:</dt>
            <dd>{$Spis->popis}&nbsp;</dd>
        </dl>
        <dl class="detail_item">
            <dt>Spisový znak:</dt>
            <dd>{$SpisZnak_nazev}&nbsp;</dd>
        </dl>
        <dl class="detail_item">
            <dt>Skartační znak:</dt>
            <dd>{$Spis->skartacni_znak}&nbsp;</dd>
        </dl>
        <dl class="detail_item">
            <dt>Skartační lhůta:</dt>
            <dd>{$Spis->skartacni_lhuta}&nbsp;</dd>
        </dl>
        <dl class="detail_item">
            <dt>Spouštěcí událost:</dt>
            <dd>{=SpisovyZnak::spousteci_udalost($Spis->spousteci_udalost_id,10)}&nbsp;</dd>
        </dl>
        <dl class="detail_item">
            <dt>Stav:</dt>
            <dd>
                {=Spis::stav($Spis->stav)}
            </dd>
        </dl>
    </div>
        
    <div class="detail_blok">
        <div class="detail_hlavicka">Seznam dokumentů</div>
    </div>

    {if count($seznam)>0}
    <table>
        <tr>
            <th class="typ">Typ dokumentu</th>
            <th class="prijato">Přijato</th>
            <th class="cislo_jadnaci">Číslo jednací<br />JID<br />Název spisu</th>
            <th class="vec">Věc<br />Adresáti/odesílatelé<br />počet listů a příloh</th>
            <th class="prideleno">Přiděleno</th>
            <th class="stav">Stav</th>
        </tr>

        {foreach $seznam as $dok}
        <tr>
            <td class="typ">
                {if $dok->typ_dokumentu->smer == 1}
                vlastní
                {else}
                příchozí
                {/if}
                {if !empty($dok->epod_is_email)}
                <br>přijato emailem
                {elseif !empty($dok->epod_is_isds)}
                <br>přijato ISDS
                {/if}
            </td>
            <td class="prijato">
                {$dok->datum_vzniku|edate}
            </td>
            <td class="cislo_jadnaci">
                <strong>
                   {$dok->cislo_jednaci}{if $Typ_evidence=='sberny_arch'}{$Oddelovac_poradi}{$dok->poradi}{/if}
                </strong>&nbsp;
                <div class="small">{$dok->jid}&nbsp;</div>
                {if isset($dok->spisy)}
                {foreach $dok->spisy as $spis}
                {$spis->nazev}<br />
                {/foreach}
                {/if}
            </td>
            <td class="vec">
                <strong>
                    {$dok->nazev}
                </strong>
                <br />
                {if count($dok->subjekty)>0}
                {foreach $dok->subjekty as $subjekt}
                {=Subjekt::displayName($subjekt,'plna_adresa')}<br />
                {/foreach}
                {else}
                nejsou přiděleny žádné subjekty!<br />
                {/if}
                <span style="font-size: 8pt;">přílohy:
                {=($dok->pocet_listu)+0} listů,
                {=($dok->pocet_priloh)+0} list. příloh,
                {=(count($dok->prilohy)+0)} příloh</span>
            </td>



            {if $dok->stav_dokumentu == 1}
            <td class="prideleno">
                {if !empty($dok->prideleno->prideleno_jmeno)}
                {$dok->prideleno->prideleno_jmeno}
                {/if}&nbsp;
            </td>
            <td class="stav">
                nový
                <br />
                {$dok->prideleno->date|edate}
            </td>
            {elseif $dok->stav_dokumentu == 2 && !empty($dok->predano) }
            <td class="prideleno">
                {if !empty($dok->predano->prideleno_jmeno)}
                {$dok->predano->prideleno_jmeno}
                {/if}&nbsp;
            </td>
            <td class="stav">
                předáno
                <br />
                {$dok->predano->date_predani|edate}
            </td>
            {elseif $dok->stav_dokumentu == 2 && !empty($dok->prideleno) }
            <td class="prideleno">
                {if !empty($dok->prideleno->prideleno_jmeno)}
                {$dok->prideleno->prideleno_jmeno}
                {/if}&nbsp;
            </td>
            <td class="stav">
                přiděleno
                <br />
                {$dok->prideleno->date|edate}
            </td>
            {elseif $dok->stav_dokumentu == 3 }
            <td class="prideleno">
                {if !empty($dok->prideleno->prideleno_jmeno)}
                {$dok->prideleno->prideleno_jmeno}
                {/if}&nbsp;
            </td>
            <td class="stav">
                vyřizuje se
                <br />
                {if !empty($dok->prideleno->date)}
                {$dok->prideleno->date|edate}
                {/if}
            </td>
            {elseif $dok->stav_dokumentu == 4 }
            <td class="prideleno">
                {if !empty($dok->prideleno->prideleno_jmeno)}
                {$dok->prideleno->prideleno_jmeno}
                {/if}&nbsp;
            </td>
            <td class="stav">
                vyřízeno
                <br />
                {$dok->datum_vyrizeni|edate}
            </td>
            {elseif $dok->stav_dokumentu == 5 }
            <td class="prideleno">
                {$dok->prideleno->prideleno_jmeno}
                <br />
                {=@$dok->prideleno->orgjednotka_info->zkraceny_nazev}
            </td>
            <td class="stav">
                vyřízeno
                <br />
                <span title="{$dok->datum_vyrizeni|edatetime}">{$dok->datum_vyrizeni|edate}</span>
            </td>
            {elseif $dok->stav_dokumentu == 6 }
            <td class="prideleno">
                {$dok->prideleno->prideleno_jmeno}
                <br />
                {=@$dok->prideleno->orgjednotka_info->zkraceny_nazev}
            </td>
            <td class="stav">
                vyřízeno<br />předáno do spisovny
                <br />
                <span title="{$dok->datum_vyrizeni|edatetime}">{$dok->datum_vyrizeni|edate}</span>
            </td>
            {elseif $dok->stav_dokumentu == 7 }
            <td class="prideleno">
                {$dok->prideleno->prideleno_jmeno}
                <br />
                {=@$dok->prideleno->orgjednotka_info->zkraceny_nazev}
            </td>
            <td class="stav">
                vyřízeno<br />ve spisovně
                <br />
                <span title="{$dok->datum_vyrizeni|edatetime}">{$dok->datum_vyrizeni|edate}</span>
            </td>
            {elseif $dok->stav_dokumentu == 11 }
            <td class="prideleno">
                {if !empty($dok->predano)}
                {$dok->predano->prideleno_jmeno}
                <br />
                {=@$dok->predano->orgjednotka_info->zkraceny_nazev}
                {else}
                {$dok->prideleno->prideleno_jmeno}
                <br />
                {=@$dok->prideleno->orgjednotka_info->zkraceny_nazev}
                {/if}
            </td>
            <td class="stav">
                zapůjčen
                <br />
            </td>
            {elseif $dok->stav == 2}
            <td class="prideleno">
                {if !empty($dok->prideleno->prideleno_jmeno)}
                {$dok->prideleno->prideleno_jmeno}
                {/if}&nbsp;
            </td>
            <td class="stav">
                ve spisovně
                <br />
                {$dok->datum_vyrizeni|edate}
            </td>            
            {else}
            <td class="prideleno">
                &nbsp;
            </td>
            <td class="stav">
                nepřiřazeno!
                <br />
                lhůta {$dok->lhuta} dní
            </td>
            {/if}
        </tr>
        {/foreach}

    </table>
    {else}
        <div>&nbsp;</div>
        {if isset($no_items)}
        {if $no_items==1}
        <div class="prazdno">Nemáte k dispozici žádné dokumenty.</div>
        {elseif $no_items==2}
        <div class="prazdno">K danému filtru nemáte k dispozici žádné dokumenty.</div>
        {elseif $no_items==3}
        <div class="prazdno">Dokument odpovidající hledanému výrazu nebyl nalezen.</div>
        {/if}
        {else}
    <div class="prazdno">K tomuto spisu nebyly zjištěny žádné dokumenty.</div>
        {/if}
    {/if}
    
</div>        
</body>
</html>    