{* Šablona pro vložení dokumentu do spisu *}
<div class="blok_menu">
    <a href="{link novyform}" onclick="return dialog(this, 'Nový spis');">
    Vytvořit nový spis</a>
    <a href="{link strom}" onclick="return dialog(this, 'Seznam spisů');">
    Zobrazit seznam všech spisů</a>
</div>

{include 'vyhledat-control.latte', action => 'spisVlozitDokument'}
