{block title}Nový subjekt{/block}
{block content}
    <div class="navigate">
    <a href="{link :Admin:Subjekty:seznam}">Seznam subjektů</a> - Nový subjekt
    </div>

{include '../../SpisovkaModule/Subjekty/novy.latte'}