{block title}Seznam subjektů{/block}
{block content}
    <div class="navigate">
    Seznam subjektů
    </div>

    <h2>Seznam subjektů</h2>

    <div class="blok_menu">
        <a href="{link :Admin:Subjekty:novy}">Nový subjekt</a>
        <a href="{link :Admin:Subjekty:export}">Export</a>
    </div>

    <div style="margin-bottom: 20px">{control filterForm}</div>
    
    {control search}
    
    {include '../../SpisovkaModule/Subjekty/vyber.latte'}