{block title}Seznam příloh{/block}
{block content}
    <div class="navigate">
    Seznam příloh
    </div>

    <h2>Seznam příloh</h2>

    {if count($seznam)>0}
        {include '../../SpisovkaModule/Prilohy/nacti.latte', prilohy => $seznam}
        {control vp}
    {else}
        <div class="prazdno">Nebyly zjištěny žádné soubory.</div>
    {/if}


