{extends @layout.latte}

{= $module='Spisovka'}
{= $module_name='Spisová služba'}

{block header}
{/block}

{block menu}
    <a href="{link :Spisovka:Default:default}">Hlavní stránka</a>&nbsp;
{/block}
